.footer{
    background-color: rgb(7, 7, 7);
    min-height: 3px;
    display: flex;
    flex-direction: column;
    padding:30px 0;
}

.left-panel{
    text-orientation:upright;
    writing-mode: vertical-lr;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.left-panel p{
    background-color: #171717;
    align-self: stretch;
    text-align: center;
    font-family: Poppins;
    justify-self: center;
    padding-left:20px;
    font-weight: bold;
    margin: 0px;
}
.left-panel::after{
    content: '';
    width: 0; 
    height: 0; 
    border-top: 120px solid transparent;
    border-bottom: 120px solid transparent;
    
    border-left: 60px solid #171717;
    margin: 0px;
}


  .Box{
  /* background-color: red; */
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  
  } 
.Container {
   
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
    /* max-width: 1000px; */
    /* padding-left:50%; */
    margin: 0 auto;
    justify-content: space-between;
     /* background: rgb(105, 32, 32);  */
}
   
.Column1{
   /* background-color: aqua;  */
   width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  justify-content: space-between;
  
}
.Column{
    display: flex;
  flex-direction: column;
  text-align: left;
  padding-right: 5%;
  
}
.chance_column{
    /* background-color: beige; */
   padding-left: 5%;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
   
}



.logo{
justify-self:flex-end;
display: flex;
padding-left:5%;
}   
.logos{
    justify-self:space-evenly;
    padding-left:55%;
    display: flex;
    
    }  


 
.FooterLink {
  color: #fff;
  /* margin-bottom: 20px; */
  text-decoration: none;
  font-size: 24px;
  /* padding-right:20px; */
}
.FooterLink:hover {
    color: rgb(255, 17, 0);
   
   
} 
.Heading {
  font-size: 24px;
  color: #fff;
  
  font-weight: bold;
}
@media (max-width: 1000px) {
.logos {
 display:flex;
 justify-content:flex-start;

   }
 .Container{
     padding-left: 20%;
     
 }
 .Column1{
    margin-top: 20px;
    /* padding: 10px;   */
    /* padding-right: 10%; */
    justify-content: center;
 } 
 .chance_column{
     position: relative;
     left:-70px;
     background-color:#171717;
     border-radius: 7%;
     width: 180px;
     height: 60px;
 }
 .Column{
     position: relative;
     right: 50px;
     ;
 }
 
 
 .Heading{
     font-size: 12px;
 }
 .FooterLink{
     font-size: 11px;
     word-break: break-all;
 }
 .logo{
     width: 20px;
 }
 .FooterLink:hover {
    color: rgb(255, 17, 0);
    transition: 100ms ease-out;
    font-size: 11px;
} 
.left-panel{
    display:none;
}
}

