@media screen and (max-width:450px){
    .Whatwedo__main_cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5%;
    }
    .
}