/*@media screen  and (max-width:500px) {
    
/*.Whatarewe{
    display: flex;
    flex-direction: column;
    width: 80%;
    height:40vh;
    align-items: center;
    justify-content: center;
    
}
}*/
@media screen and (max-width:870px){
    
.Whatarewe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:5%  0%;



}
.Whatarewe__desc__cont{
    margin: 5% ; 
    background: linear-gradient(107.08deg, #1F1F1F 37.5%, #511111 100%);
    box-shadow: 0px 4px 30px rgba(255, 255, 255, 0.03);
    border-radius: 8px;
    padding: 5px;
}
.Whatarewe__header{
    font-size: 36px;
    color: #FFFFFF;
    font-family: 'poppins';
}

.Whatarewe__desc{
    margin:2% 5% ;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;

}
}

    

@media screen and (min-width : 870px) {
.Whatarewe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    margin: 200px 0px;;
    font-family: 'poppins';
}
.Whatarewe__desc__cont{
    margin-top: 50px;
    width:50vw;
    background: linear-gradient(107.08deg, #1F1F1F 37.5%, #511111 100%);
    box-shadow: 0px 4px 30px rgba(255, 255, 255, 0.03);
    border-radius: 8px;
    padding: 10px;


}
.Whatarewe__header{
    font-size: 48px;
    color: #FFFFFF;
}

.Whatarewe__desc{
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}
}