.main__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin:200px 0px;
   
    
}

.Whatwedid__content__fake{
    font-family: 'poppins';
}

.header{
    /* display: inline;
    font-family: 'poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px; */
    font-size: 48px;
    color: #FFFFFF;
    font-family: 'poppins';
    margin-bottom: 30px;
}

.track{
    margin-top: 15px;
    display: flex;
    min-height: 250px;
    height: 70vh;
    width: 100%;
}

.card1{
    
    align-self: flex-start;
    background:linear-gradient(#FFDAF9,#BFE2FC);
    border-radius: 28px;
    height: 65%;
    padding:25px;
    margin: 0 10px;
    
    width:25%;
}
.card2{
    
    align-self: flex-end;
    background:linear-gradient(#FFDAF9,#BFE2FC);
    border-radius: 28px;
    height:65% ;
    padding:25px;
    margin: 0 10px;
    width:25%;
}

.project__name{
    font-size: 30px;
}

.project__desc{

}

.project__link{
    background-color: white;
    padding: 5px 30%;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.project__link:hover{
    background-color:thistle

}



.Whatwedid__content img{
    border-radius: 70px;
}

.card1, .card2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
}


.card__header{
    font-family: 'poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top:-40px;
    color: #FFFFFF;
}



@media  (max-width:950px) {

.track{
        display :flex;
        align-items: center;
        height: 100%;
        flex-direction: column;
       
        
    }
    .card1{
        align-self: center;
        margin:20px 0;
        height: 300px;
        width: 170px;
        
    }
    .card2{
        align-self: center;
        margin:20px 0;
        width: 170px;
        height: 300px;
    }
    .header{
        font-size: 36px;
        font-family: 'poppins';
    }
    
}
