*{
    padding: 0;
    margin:0;
}
body{
    background-color: #171717;
    width:100vw;
}
.navbar{
    height:8vh;
}
.hero{
    background-color: #1F1F1F;
    height: 80vh;
    max-width:100vw;
    color:white;
    display: flex;
    justify-content: space-between;
    
    padding: 0vh 3vw;
}
.hero-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width:50%;
}
.hero-header{
    font-weight: bolder;
    font-size: 96px;
    margin-bottom:1vh;
}
.hero-description{
    margin-bottom:6vh;
    font-size: 23px;
    width:60%;
}
.hero-button{
    font-size: 30px;
    background-color: #D66700;
    border-radius: 3px;
    padding:3px 10%;
}

.hero-image{
    
}